<form [formGroup]="formAirplane" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>New airplane</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="formAirplane.controls['name'].hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Fuel consommation in liter by flight second" formControlName="fuelConsommationInLiterByFlightSecond">
              <mat-error *ngIf="formAirplane.controls['fuelConsommationInLiterByFlightSecond'].hasError('required')">
                Fuel consomattion is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Flight speed in KM/H" formControlName="flightSpeedInKMH">
              <mat-error *ngIf="formAirplane.controls['flightSpeedInKMH'].hasError('required')">
                Flight speed is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
  