@import '~@angular/material/theming';
@mixin comp-a-theme($theme) {          // define mixin
  $primary: map-get($theme, primary);  // retrieve color def
  li {                             // apply theme to component
    background-color: mat-color($primary);
    color: mat-color($primary);
  }
}